.edit-movie-container {
  display: flex;
  flex-direction: column;
}

.back-to-movie {
  margin: 10px 0 20px;
  width: 100%;
}
.valid-form-button {
  margin-top: 20px;
  width: 100%;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #bbb;
}



.hidden {
  display: none;
}
