.movies-container {
  display: flex;
  flex-direction: column;

  gap: 100px;
  margin-top: 50px;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  color: white;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  margin-top: 50px;
}

.movie-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.movie-title-container {
  position: absolute;
  bottom: 0px;
  text-align: center;
  background-color: #000000e7;
  width: 100%;
  padding: 30px 0 60px;
  transform: translateY(200px);
  transition: transform 300ms ease-in-out;
}

.movie-poster-container {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &:hover {
    .movie-title-container {
      transform: translateY(0);
    }
  }
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (min-width: 768px) {
  .movies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  .movies-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 50px;
  }

  .apercu-collection {
    h2 {
      text-align: left;
    }
  }
}

@media (min-width: 1440px) {
  .movies-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    margin-top: 50px;
  }
}
