header {
  display: grid;
  padding: 20px 20px;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  border-bottom: 1px var(--primary-color-light) solid;
  a {
    text-decoration: none;
  }
}

.site-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: linear-gradient(135deg, #b88a00, #e5b200, #8c6900);
  border-radius: 6px;
  justify-self: start;
  h1 {
    color: black;
    font-size: 2rem;
  }
  i {
    color: black;
    font-size: 2rem;
  }
}
